body {
    background-color: #FFB6C1;
    color: 
    #9370DB;
    font-family: Sans-Serif;
    line-height: 18px;
    text-align: center;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
}


#new-player-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.new-player-field::placeholder {
  color: #3a3a3a;
  text-align: center;
  opacity: 0.5;
}

.new-player-field {
  border: none;
  border: 1px solid #9370DB;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
  background-color:  #ffe6e9;
}

#new-player-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: pink;
  font-weight: bold;
  background-color: #9370DB;
  cursor: pointer;
  outline: none;
}

#newplayer {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: pink;
  font-weight: bold;
  background-color: #9370DB;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

#adopt-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.corgi-name-input::placeholder {
  color: #3a3a3a;
  text-align: center;
  opacity: 0.5;
}

.corgi-name-field {
  border: none;
  border: 1px solid #9370DB;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
  background-color:  #ffe6e9;
}

#adopt-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: pink;
  font-weight: bold;
  background-color: #9370DB;
  cursor: pointer;
  outline: none;
}

#newplayer {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: pink;
  font-weight: bold;
  background-color: #9370DB;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.title {
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
}

.subtitle {
  font-family: cursive;
}

#mealButton img {
  width:40px; 
  height:40px; 
  border: 0;
  
}

#petButton img {
  width:40px; 
  height:40px; 
  border: 0;
  
}

#playButton img {
  width:40px; 
  height:40px; 
  border: 0;
  
}

.alert-danger {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
}


/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#note-container {
  width:50%;
  height:50%;
  position:fixed;
  top: 50%;
  left:25%;
  z-index:100;
}



#note-container {
position: relative;
width: 85%;
height: 90%;
top: 35%;
left: 8%;
z-index:100;
}

#buttons-area {
  height: 100%;
  width: 100%;
  display: flex;
}
#mealButton {
  width: 15%;
  margin-left: 35px;
  margin-right: 80px;
}
#petButton {
  width: 15%;
  margin-right: 80px;
  margin-left: 45px;
}
#playButton {
  width: 15%;
  margin-left: 25px;
}